@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
}
/* Shared Styles */
button:hover{
    cursor: pointer;
}
.color-1{
    color: orange;
}
.color-2{
    color: #01ACFD;
}
.btn-secondary{
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px 47px;
    font-weight: bold;
    font-size: 1.25rem;
}

/* Navbar Styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.logo{
    display: flex;
    align-items: center;
}
#logo-img{
    width: 62px;
    height: 62px;
}
.menu-icon{
    display: none;
}
.nav-title{
    font-weight: bold;
    font-size: 2rem;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}
.color-3{
    color: #05D4DF;
}
.color-4{
    color: #5D58EF;
}
.btn-primary{
    color: white;
    background-color: orange;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}
/* Marquee Styles */
.marquee-container{
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid grey;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-top: 10px;
}
/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    margin-left: 140px;
    margin-top: 100px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
.banner-description{
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.banner-photo{
    margin-right: 140px;
}
.banner-photo img{
    width: 100%;
}

/* Curriculum Styles */
.curriculum{
    background-image: url(../B11-A2-Kids-School/assets/bg.png);
    margin-top: 80px;
}
.curriculum-title{
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 80px;
}
.curriculum-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 80px;
}
.card-img{
    width: 138px;
    height: 126px;
}
.card-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 367px;
    height: 476px;
    border-radius: 18px;
    background: linear-gradient(to bottom, #DEF5FF, #ffffff);
    border: 2px solid #DEF5FF;
}
.card-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 367px;
    height: 476px;
    border-radius: 18px;
    background: linear-gradient(to bottom, #FFF4DC, #ffffff);
    border: 2px solid #FFF4DC;
}
.card-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 367px;
    height: 476px;
    border-radius: 18px;
    background: linear-gradient(to bottom, #F2E8FF, #ffffff);
    border: 2px solid #F2E8FF;
}
.card-title{
    font-weight: bold;
    font-size: 1.5rem;
}
.curriculum-description{
    font-weight: 500;
    font-size: 0.9rem;
    color: #808080;
    margin: 33px 40px;
}
.read-more{
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: none;
}
.color-5{
    color: #8700FF;
}
.arrow{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.btn-arrow{
    background-color: orange;
    border: none;
    border-radius: 30px;
    padding: 20px;
}

/* Stories Styles */
.Stories {
    background-image: linear-gradient(to top, #fcda9f, #ffffff), url(../B11-A2-Kids-School/assets/bg.png);
    background-blend-mode: overlay;
    background-size: cover;
    margin-bottom: 60px;
}
.section-title{
    font-weight: bold;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 60px;
}
.stories-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 540px;
    height: 630px;
    border-radius: 17px;
}
.stories-card img{
    border-radius: 17px 17px 0 0;
}
.stories-btn-primary{
    width: 175px;
    height: 48px;
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
    background-color: #3CD8E8;
    border: none;
    border-radius: 47px;
    padding: 14px 18px;
    margin-left: 38px;
    margin-top: -25px;
}
#stories-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 38px;
    margin-right: 38px;
}
#stories-description{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    margin-left: 38px;
    margin-right: 38px;
}
.too-many-cards{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.story-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.stories-cards{
    background-color: white;
    width: 290px;
    height: 300px;
    border-radius: 16px;
}
.stories-cards img{
    border-radius: 16px 16px 0 0;
}
.stories-btn{
    font-weight: 500;
    font-size: 0.9rem;
    color: white;
    background-color: #95B226;
    border: none;
    border-radius: 48px;
    padding: 10px 19px;
    margin-left: 38px;
    margin-top: -25px;
}
.stories-cards .stories-btn{
    position: absolute;
}
.stories-title{
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 35px;
    margin-right: 35px;
}
.color-6{
    background-color: #5D58F0;
}
.btn-third{
    text-align: center;
}

/* Mobile Media Query */
@media screen and (max-width:576px) {
    /* Navbar Styles */
    .navbar{
        border-bottom: 1px solid orange;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .nav-title, .nav-links, .btn-primary, br{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    /* Banner Styles */
    .banner{
        flex-direction: column-reverse;
        margin: auto 16px;
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-weight: 500;
        font-size: 1.2rem;
    }
    .banner-content{
        text-align: center;
        margin: 0 auto;
    }
    .banner-photo{
        width: 100%;
    }
    /* Curriculum Styles */
    .curriculum-title{
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
    .card-img{
        width: 92.6px;
        height: 92.6px;
    }
    .card-title{
        font-size: 1rem;
    }
    .curriculum-description{
        font-size: 0.6rem;
        margin: 22px 80px;
    }
    .read-more{
        font-size: 0.6rem;
    }
    .curriculum-cards{
        flex-direction: column;
        align-items: center;
    }
    .card-1, .card-2, .card-3{
        width: 357px;
        height: 324px;
    }
    .arrow{
        display: none;
    }
    /* Stories */
    .section-title{
        font-size: 1.6rem;
    }
    .stories-card{
        display: none;
    }
    .story-cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 11px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .stories-cards{
        width: 173px;
        height: 180px;
        display: flex;
        flex-direction: column;
    }
    .stories-cards img{
        width: 173px;
        height: 105px;
    }
    .stories-title{
        font-size: 0.55rem;
        width: 127px;
        height: 34px;
        margin-left: 22px;
    }
    .stories-btn{
        font-size: 0.55rem;
        width: 104px;
        height: 22px;
        margin-top: -10px;
        margin-left: 22px;
        padding: 6px 11px;
    }
    .stories-cards .stories-btn{
        position: relative;
    }
}