@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* Shared Styles */
button:hover{
    cursor: pointer;
}
.color-1{
    color: orange;
}
.color-2{
    color: #01ACFD;
}
.btn-secondary{
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px 47px;
    font-weight: bold;
    font-size: 1.25rem;
}

/* Navbar Styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 140px;
}
.logo{
    display: flex;
    align-items: center;
}
#logo-img{
    width: 62px;
    height: 62px;
}
.menu-icon{
    display: none;
}
.nav-title{
    font-weight: bold;
    font-size: 2rem;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-link{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
}
.color-3{
    color: #05D4DF;
}
.color-4{
    color: #5D58EF;
}
.btn-primary{
    color: white;
    background-color: orange;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 12px;
    padding: 10px 60px;
}

/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    margin-left: 140px;
    margin-top: 100px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 24px;
}
.banner-description{
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.banner-photo{
    margin-right: 140px;
}
.banner-photo img{
    width: 100%;
}


/* Mobile Media Query */
@media screen and (max-width:576px) {
    .navbar{
        border-bottom: 1px solid orange;
        margin: 0 auto;
        padding: 10px 20px;
    }
    .nav-title, .nav-links, .btn-primary, br{
        display: none;
    }
    .menu-icon{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
        margin: auto 16px;
    }
    .banner-content{
        text-align: center;
        margin: 0 auto;
    }
    .banner-photo{
        width: 100%;
    }
}